In [3]:
import pandas as pd

# How big is the data?

In [5]:
df=pd.read_csv('/Users/kritisharma/100 days ml/movies.csv')
df.shape

(9420, 8)

How does the data look like?

In [8]:
# df.head()
df.sample(5)

,Unnamed: 0,id,title,release_date,overview,popularity,vote_average,vote_count
49,49,569094,Spider-Man: Across the Spider-Verse,2023-05-31,"After reuniting with Gwen Stacy, Brooklyn’s fu...",184.071,8.363,6341
5943,5943,9992,Arthur and the Invisibles,2006-12-13,Arthur is a spirited ten-year old whose parent...,27.854,6.390,2794
8669,8669,14435,My Bloody Valentine,2009-01-16,Ten years after a Valentine's Day tragedy clai...,17.935,5.531,1122
5416,5416,553604,Honest Thief,2020-09-03,A bank robber tries to turn himself in because...,43.205,6.502,1659
635,635,1480,Touch of Evil,1958-03-30,When a car bomb explodes on the American side ...,58.143,7.770,1370

#What is the data type of columns?

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9420 entries, 0 to 9419
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    9420 non-null   int64
 1   id            9420 non-null   int64
 2   title         9420 non-null   object
 3   release_date  9420 non-null   object
 4   overview      9419 non-null   object
 5   popularity    9420 non-null   float64
 6   vote_average  9420 non-null   float64
 7   vote_count    9420 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 588.9+ KB

# Are ther any missing values?

In [21]:
df.isnull().sum()

Unnamed: 0      0
id              0
title           0
release_date    0
overview        1
popularity      0
vote_average    0
vote_count      0
dtype: int64

# How does the data look mathematically?

In [17]:
df.describe()

        Unnamed: 0            id   popularity  vote_average    vote_count
count  9420.000000  9.420000e+03  9420.000000   9420.000000   9420.000000
mean   4709.500000  1.891198e+05    37.604428      6.634990   1971.972399
std    2719.464102  2.508921e+05    92.019477      0.786667   3100.188720
min       0.000000  2.000000e+00     0.023000      2.199000    300.000000
25%    2354.750000  1.006875e+04    16.829750      6.113750    466.000000
50%    4709.500000  3.677350e+04    23.335000      6.658000    840.000000
75%    7064.250000  3.459118e+05    34.727500      7.200000   1961.250000
max    9419.000000  1.212073e+06  4703.624000      8.700000  35824.000000

# Are there any dupicate values?

In [20]:
df.duplicated().sum(
)

0

How is the Correlation between columns?

In [29]:
# df.corr()['vote_average']